body {
  padding: 20px;
}
.bgImage {
  background-image: url(../images/world_lights_sm_bgnd.jpg);
  background-position: center center;
  background-size: cover;
  height: 184px;
  margin: 0 -20px;
}
.logo {
  background-image: url(../images/code_nasa_logo.svg);
  background-size: 263px 84px;
  background-repeat: no-repeat;
  width: 263px;
  height: 84px;
}
input[type=search] {
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
}
