body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
a:link {
  color: #1a5cad;
  font-weight: 600;
}
a:visited, a:hover a:focus {
  color: #2196cb;
}
a.light {
  color: #29b6f6;
}
.parallax {
  background-image: url("../images/code_nasa_background.jpg");
  /*background-image: url("../images/code_nasa_background_v2.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: 100% auto;
	position:relative;
  margin: 0 -20px;
}
.bgImageHome {
  min-height: 184px;
}
.bgImageProjects {
  min-height: 334px;
  color: white;
  padding-top: 50px;
}
.bgImageProjects p {
  padding-top: 20px;
}
.logo {
  height: 167px;
  margin-top: 10px;
}
.nasa_logo {
  margin: 27px 77px 33px 0;
  text-align: right;
}
.nasa_logo img {
  width: 75px;
}
.main_link{
  font-size: 18px;
}
button[type="submit"]:focus {
    outline-color: white;
    padding-bottom: 5px;
}

/*search styles*/
input[type=search], input[type=text] {
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    font-size: 36px;
    opacity: 1;
}
input::-webkit-input-placeholder {
color: #e4edf7 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #e4edf7 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #e4edf7 !important;
}

input:-ms-input-placeholder {
color: #e4edf7 !important;
}
.search {
    background: none !important;
    border: 0;
    right: 39px;
    position: relative;
  }
.btn.focus, .btn:focus, .btn:hover {
    color: #29b6f6;
}
.input-group {
  margin-top: 20px;
  margin-top: 50px;
}
/*.stylish-input-group .input-group-addon {
    background: none !important;
    border: 0;
    right: 39px;
    position: relative;
  }*/
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
  /*padding-bottom: 20px;*/
  height: 50px;
}
/*.stylish-input-group button{
    border:0;
    background:transparent;
}*/
.form-control {
  color: white;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
button[type="submit"] {
  color: white;
}
.filtering {
  color: #becee5;
  font-size: 18px;
  padding-top: 12px;
}
.project, .textBlock {
  margin-top: 70px;
}
.project_img {
  width: 100%;
}
.project_name a {
  font-weight: 400;
}
.project h2, .project p, .license {
  margin-bottom: 40px;
}
.project h2 {
  margin-top: 0;
}
.instructions {
  background-color: #2d384a;
  color: white;
  margin: 60px -20px;
}
.ship {
  background-image: url("../images/spaceship.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 600px;
}
.license, .badge {
  font-size: 14px;
}
.badge {
    border: 1px solid #c7c6c6;
    border-radius: 5px;
    color: #767676;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 3px 6px;
    min-width: 10px;
    padding: 9px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: transparent;
}
.ng-scope {
  margin-left: -3px;
  margin-top: 40px;
}
footer p {
    padding-left: 35px;
    padding-top: 3px;
}
footer {
    background-image: url("../images/nasa_logo_75.png");
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: 38px auto;
    margin-top: 60px;
}
/*helper styles*/

.pad_top {
  padding-top: 40px;
}
.pad_right {
  padding-right: 10px;
}
.align {
  text-align: right;
}

/*timeline*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 44%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: #ff6e00;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

.page-header {
  margin: 0;
}
.additional li {
  margin: 10px 0;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.logo, .align {
  text-align: center;
}
input[type=search], input[type=text] {
    font-size: 21px;
}
.filtering {
  font-size: 14px;
}
.logo img {
  width: 250px;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  input[type=search], input[type=text] {
      font-size: 16px;
  }
  .logo {
    height: 120px;
  }
  .logo img {
    width: 220px;
  }
}

/*Overwrite to make the BootStrap container larger*/
@media (min-width: 1400px) {
    .container {
        width: 1270px;
    }
